.product-info{    
    max-width: 700px;
    margin: 20px auto 0;
    height: 165px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    color: #243336;
}

.product-info h1{
    padding-top: 0px;
    font-size: 32px;
}
.product-info p {

    padding-top: 40px;
    color: #666;
}
.product-info p a{
    padding-top: 0px;
    color: #069;
    
}
.product-info .pageMain{
    padding-top: 30px;
}